<strong>Olá, {{ student }}</strong>
<p>Sua pergunta foi respondida! segue os dados:</p> <br />
<p><strong>Pergunta: </strong> {{ question }}</p>
<p><strong>Resposta: </strong> {{ answer }}</p>
<br />
